.square{
	width: 200px;
	height: 200px;
	border-style: solid;
	border-color: #000;
}

.grid{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: center;
	width: 618px;
	height: 628px;
}

.mole{
	background-image: url("images/mole.png");
	background-size: cover;

}

